form {
	display: inline-block;
}

#header {
	border-bottom: solid 1px rgb(208, 208, 208);
	padding-top: 10px;
	margin-bottom: 50px;
}
#header > * {
	float:left;
}
#header h1 {
	display: inline-block;
	margin-right: 40px;
	float: left;
}
#header .form-search {
	height: 40px;
	margin-right: 40px;
}
#header .form-search > * {
	margin-top: 15px;
	margin-right: 5px;
}
#content {

}
.profile {
	display: inline-block;
}
.profile > * {
	margin-right: 8px;
	float: left;
}
.profile .name {
	margin-bottom: 2px;
}
.profile .text-container {
	max-width: 164px;
	
}
.profile img.avatar {
	width: 40px;
	height: 40px;
}
.profile a {
}

.question-block {
	margin-bottom: 50px;
	display: inline-block;
}
.question-block .question-attributes {
	display: inline-block;
	width: 100px;
	text-align: center;
	margin-right: 30px;
}
.voting {
	display: inline-block;
	position: relative;
	text-align: center;
}
.vote-up, .vote-down {
	display: inline-block;
	height: 20px;
	width: 16px;
	background-image: url("uploads/icons_vote_posts.gif");
	border-top: solid black 1px;
	border-bottom: solid black 1px;
	margin: 0px;
	float: left;
	background-size: 50px;
}
.question-attributes .vote-up {
	border-left: solid black 1px;
	background-position: 16px 0px;
}
.question-attributes .vote-up:hover {
	background-position: 0px 0px;
}
.question-block .question-attributes .raiting-counter{
	border: solid black 1px;
	padding: 0px 5px;
	font-size: 20px;
	float: left;
}
.question-attributes .vote-down {
	border-right: solid black 1px;
	background-position: 16px 20px;
}
.question-attributes .vote-down:hover {
	background-position: -17px 0px;
}
.author-image{
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
}
.question-block .question-content {
	display: inline-block;
	float: right;
	width: 486px;
}
.question-block .question-content .question-title{
	margin-top: 0px;
}
.question-notes {
	display: inline-block;
}
.auth {
	display: inline-block;
}
.form-login .control-group label.control-label {
	width: 100px;
	text-align: left;
}
.form-login .input-field {
	margin-left: 115px;
	text-align: left;
	width: 261px;
}
#right-sidebar .tags a {
	margin-right: 10px;
}
#main-footer {
	display: block;
	min-height: 50px;
}
.divider {
	display: block;
	border-top: solid black 1px;
	height: 3px;
	margin-bottom: 37px;
}
.answer-form {
	display: block;
}
.answer-form .btn {
	height:92px;
}
.answer-input {
	width: 488px;
	display: inline-block;
	height: 83px;
	float: left;
	margin-right: 10px;;;
}
.input-container {
	padding: 10px;
	background-color: #FAE09D;

}
.answer-block {
	margin-bottom: 50px;
	display: inline-block;
}
.answer-attributes {
	display: inline-block;
	width: 100px;
	text-align: center;
	margin-right: 23px;
}
.answer-attributes .author-image {
	border: solid black 1px;
}
.author-name {
	font-weight: 600;
	
}
.answer-content {
	display: inline-block;
	float: right;
	width: 486px;
	background-color: #E7E1E1;
	padding-left: 10px;
	padding-top: 10px;;
}
.date {
	text-align: right;
	margin-top: 10px;
	width:450px;
}
.date .answer-date {
	font-style: italic;
	font-size: 15px;
}
.enter_button {
	margin-top: 14px;
}
.question-content-field {
	width: 500px;
	height: 300px;
}
.settings_avatar {
	width: 150px;
	height: 150px;	
}
.field {
	display: inline-block;
}
.field-value {
	width: 250px;
	font-weight: 700;
}
.field-name {
	width: 100px;
}
.user-param-container {
	margin-bottom: 10px;

}
.change_avatar_block {
	display: none;
}
.hidden-change-form {
	display: none;
}
.message {
	min-height:40px;
	font-size: 20px;
	color: white;
	padding: 19px 0px 0px 10px;
	margin-bottom: 20px;
}
.message-success {
	background-color: rgb(107, 190, 107);
}
.message-error {
	background-color: rgb(232, 97, 97);
}
input[type="file"].newAvatarInputField {
	width: 250px;
}
div.answer-block.right {
	background-color: rgb(154, 210, 154);
}