<!DOCTYPE html>
<html>




<head>
<meta charset="utf8">
<title> Сервис ответов и вопросов </title>
<link rel="stylesheet" type="text/css" href="/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/style.css">
<link rel="stylesheet" type="text/css" href="/sweet-alert.css">
{% block styles %}
{% endblock %}
<script src="/jquery.min.js"></script>
<script src="/bootstrap.min.js"></script>
<script src="/sweet-alert.min.js"></script>
</head>




<body>

<div class="container">
<!-- ШАПКА -->
	<div class="row">
		<div class="span12" id="header">

			<a href="/"> <h1> Ask pupkin service </h1> </a>

			<form class="form-search form-inline">
					<a href="/ask" class="btn"> Спросить </a>
			</form>

			<div class="profile">
                {% if user.is_authenticated %}
				<img class="img-polaroid avatar" src="/uploads/{{user.myuser.avatar | default:'troll.png'}}">
				<div class="text-container">
					<h4 class="name"> {{user.username}} </h4>
					<div>
						<a href="/logout"> Выйти </a>
						<a href="/profile"> Настройки </a>
					</div>
				</div>
                {% else %}
                <a href="/login" class="btn enter_button">Войти</a>
                {% endif %}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="span8" id="content">
            <div class="message {{message_type | default:'message'}}">{{message}}</div>
			<!-- СОДЕРЖИМОЕ. СОЗДАЕТСЯ В ДОЧЕРНИХ ШАБЛОНАХ -->
			{% block content %}
				В разработке
			{% endblock %}
		</div>

		<div class="span4" id="right-sidebar">
			<h3> Популярные теги </h3>
			<div class="tags">
				{% for tag in popularTags %}
				<a href="#">{{tag}}</a>
				{% endfor %}
			</div>

			<div class="best-users">
				{% for user in users %}
				<a href="#">{{user.name}}</a>
				{% endfor %}
			</div>
		</div>
	</div>

</div>
<footer id="main-footer"></footer>
</body>
</html>