{% extends "base.html" %}

{% block content %}
        <form method="POST" action="" class="">
            {% csrf_token %}
            <div class="control-group">
                Заголовок
                <div class="controls">
                    {{form.title.errors}}
                    {{form.title}}
                </div>
            </div>
            <div class="control-group">
                Вопрос
                <div class="controls">
                    {{form.content.errors}}
                    {{form.content}}
                </div>
            </div>
            <div class="control-group">
                Введите теги, разделяя их запятыми
                <div class="controls">
                    {{form.tags.errors}}
                    {{form.tags}}
                </div>
            </div>
            <input type="submit" class="btn btn-success" value="Спросить">
        </form>
{% endblock %}