{% extends "base.html" %}

{% block content %}

{% for question in questions %}
<div class="question-block">
	<div class="question-attributes">
		<img class="author-image" src="/uploads/{{question.authorAvatar | default:'troll.png'}}">
        <span class="author-name">{{question.authorNickname}}</span>
		<div class="voting" data-question-id="{{question.questionId}}">
			<span class="vote-up" data-action="vote" data-type='up'></span>
			<span class="raiting-counter">{{question.votes}}</span>
			<span class="vote-down" data-action="vote" data-type='down'></span>
			{% csrf_token %}
		</div>
	</div>
	<div class="question-content">
		<a href="question?id={{question.questionId}}"><h3 class="question-title"> {{question.questionContent_title}} </h3></a>
		<p class="question-description"> {{question.questionContent_description}} </p>
		<div class="question-notes">
			<a href="question?id={{question.questionId}}"> Ответы({{ question.numOfAnswers|default:"0" }}) </a> <br><br>
			Tags: {% for tag in question.tags %} {{tag.tagId.tag_name}}, {% endfor %}
		</div>
	</div>
</div>

{% endfor %}

<script>
$('span[data-action=vote]').on('click', function() {

  var vote = $(this).parent();
  var token = $(vote).find("input[name=csrfmiddlewaretoken]").val();

  $.ajax({
  	type: "POST",
  	url : "/vote",
  	data: {
  		type: String($(this).attr('data-type')),
  		id: Number(vote.attr("data-question-id")),
  		csrfmiddlewaretoken: String(token)
  	}
  }).done(function(ans) {
  		if( ans.status == 1 ) {
	  		$(vote).find('.raiting-counter').text(ans.new_rating);
        sweetAlert("Вы успешно проголосовали", ans.message, "success");
      } else {
        sweetAlert("Ошибка", ans.message, "error");
  		}
  });

});
</script>

<div class="paginator">
    {% if paginator.has_previous %}
    <a href="?page={{ paginator.previous_page_number }}" class="btn">Назад</a>
    {% endif %}

    Страница {{ paginator.number }} из {{ paginator.paginator.num_pages }}

    {% if paginator.has_next %}
    <a href="?page={{ paginator.next_page_number }}" class="btn">Вперед</a>
    {% endif %}
</div>

{% endblock %}