{% extends "base.html" %}

{% block content %}
<div class="auth">
	<h3> Авторизация </h3>
	<form action="" method="POST" class="form-horizontal form-login">
        {% csrf_token %}
		<div class="control-group">
			{{form.login.errors}}
			<label class="control-label">Логин</label>
			<div class="controls input-field">
				{{form.login}}
			</div>
		</div>
		<div class="control-group">
			{{form.password.errors}}
			<label class="control-label">Пароль</label>
			<div class="controls input-field">
				{{form.password}}
			</div>
		</div>
		<div class="control-group">
			<div class="controls input-field">
				<input type="submit" class="btn btn-success" value="Вход"><br>
				<a href="/signup">Зарегистрироваться</a>
			</div>
		</div>
	</form>
	<br>
</div>
{% endblock %}