{% extends "base.html" %}

{% block content %}

<form action="" method="POST" id="changeForm" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="user-param-container">
        {{form.newName.errors}}
        <div class="field field-name">Имя:</div>
        <div class="field field-value">{{user.username}}</div>
        {{form.newLogin}}
    </div>

    <div class="user-param-container">
        {{form.newEmail.errors}}
        <div class="field field-name">Email:</div>
        <div class="field field-value">{{user.email}}</div>
        {{form.newEmail}}
    </div>

    <div class="user-param-container">
        {{form.newAvatar.errors}}
        <div class="field field-name">Аватар:</div>
        <div class="field field-value"> <img class="settings_avatar img-polaroid" src="/uploads/{{user.myuser.avatar}}"></div>
        {{form.newAvatar}}
    </div>

    {{form.newPassword.errors}}
    <div class="field field-name">Новый пароль</div>
    <div class="field field-value"> {{form.newPassword}} </div> <br>
    {{form.repeatedNewPassword.errors}}
    <div class="field field-name">Повторите новый пароль</div>
    <div class="field field-value"> {{form.repeatedNewPassword}} </div> <br>

    <input type="submit" value="Изменить">
</form>

{% endblock %}