{% extends "base.html" %}
{% block content %}
<div class="question-block">
    <div class="question-attributes">
        <img class="author-image" src="/uploads/{{question.author.avatar | default:'troll.png'}}">
        <span class="author-name">{{question.author.user.username}}</span>
        <div class="voting" data-question-id="{{question.id}}">
            <span class="vote-up" data-action="vote" data-type='up'></span>
            <span class="raiting-counter">{{question.votes}}</span>
            <span class="vote-down" data-action="vote" data-type='down'></span>
            {% csrf_token %}
        </div>
    </div>
    <div class="question-content">
        <h3 class="question-title"> {{question.title}} </h3>
        <p class="question-description"> {{question.content}} </p>
        <div class="question-notes">
            Tags: {% for tag in tagsOfQuestion %} {{tag.tagId.tag_name}}, {% endfor %}
        </div>
    </div>
</div>

<script>
$('span[data-action=vote]').on('click', function() {

  var vote = $(this).parent();
  var token = $(vote).find("input[name=csrfmiddlewaretoken]").val();

  $.ajax({
    type: "POST",
    url : "/vote",
    data: {
        type: String($(this).attr('data-type')),
        id: Number(vote.attr("data-question-id")),
        csrfmiddlewaretoken: String(token)
    }
  }).done(function(ans) {
        if( ans.status == 1 ) {
            $(vote).find('.raiting-counter').text(ans.new_rating);
        } else {
            sweetAlert("Ошибка", ans.message, "error");
        }
  });

});
</script>

<div class="divider"></div>
<form method="POST" action="" class="answer-form">
    {% csrf_token %}
    <div class="input-container">
        {{form.answer.errors}}
        {{form.answer}}
        <input type="hidden" value="{{id}}" name="question_id">
        <input type="submit" value="Ответить" class="btn btn-success" id="sendAnswer">
    </div>
</form>
<div class="divider"></div>

<h3>Ответы участников</h3>

{% for answer in answers %}
<div class="answer-block {% if answer.is_right %} right {% endif %}">
    <div class="answer-attributes">
        <img class="author-image" src="/uploads/{{answer.author.avatar | default:'troll.png'}}">
        <span class="author-name">{{answer.author.user.username}}</span>
        <input type="button" data-id="{{answer.id}}" value="Правильный" class="send-right-answer-button">
    </div>
    <div class="answer-content">
        {{answer.content}}
        <div class="date">
            <span class="answer-date">
                {{answer.date}}
            </span>
        </div>
    </div>
</div>
{% endfor %}

<script>

$(".send-right-answer-button").click(function(e){
    var token = $("input[name=csrfmiddlewaretoken]").val();
    ans_id = parseInt($(this).attr('data-id'))
    $.ajax({
        type: "POST",
        url : "/mark_right",
        data: {
            ans_id: ans_id,
            csrfmiddlewaretoken: String(token)
        }
    }).done(function(ans) {
        if( ans.status == 1 ) {
            sweetAlert("Ok", ans.message, "success");
            $("div.right").removeClass("right");
            $("input[data-id="+String(ans_id)+"]").parent().parent().addClass("right");
        } else {
                sweetAlert("Ошибка", ans.message, "error");
            }
      });
});

</script>

<div class="answers">
    {% if answers.has_previous %}
    <a href="?id={{id}}&page={{ answers.previous_page_number }}" class="btn">Назад</a>
    {% endif %}

    Страница ответов {{ answers.number }} из {{ answers.paginator.num_pages }}

    {% if answers.has_next %}
    <a href="?id={{id}}&page={{ answers.next_page_number }}" class="btn">Вперед</a>
    {% endif %}
</div>

{% endblock %}