{% extends "base.html" %}

{% block content %}
<div class="auth">
	<h3> Регистрация </h3>
	<form action="" method="POST" class="form-horizontal form-login" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="control-group">
			<label class="control-label">Ваш Логин</label>
			{{form.login.errors}}
			<div class="controls input-field">
				{{form.login}}
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Пароль</label>
			{{form.password.errors}}
			<div class="controls input-field">
				{{form.password}}
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Повторите пароль</label>
			<div class="controls input-field">
				{{form.repeatedPassword}}
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">E-mail</label>
			{{form.email.errors}}
			<div class="controls input-field">
				{{form.email}}
			</div>
		</div>

		<div class="control-group">
			<label class="control-label">Аватар</label>
			{{form.avatar.errors}}
			<div class="controls input-field">
				{{form.avatar}}
				<p class="text-info"> Используется как ваше изображение </p>
			</div>
		</div>

		<div class="control-group">
			<div class="controls input-field">
				<input type="submit" class="btn btn-success" value="Зарегистрироваться"><br>
				<a href="/login">Уже есть аккаунт? Входите!</a>
			</div>
		</div>
	</form>
	<br>
</div>
{% endblock %}